.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  border: none;
}

.dropdown-btn:hover {
  background: #f3f4f6;
}

/* MENU */

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: 0;
  width: 180px;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 6px 0;
  z-index: 50;
}

.dropdown-item {
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f4f6;
}
