.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  flex-shrink: 0;
}

.icon-doc {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
  flex-shrink: 0;
}
